<!-- DataTables -->
<link href="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
                        Input Kalimat Raw
                    </li>
                </ol>
            </div>
            <h4 class="page-title">Input Kalimat</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <div class="row">
                <div class="col-md-8">
                    <form class="form-horizontal" role="form" id="formSentence">
                        <div class="form-group">
                            <div class="col-md-10">
                                <input type="text" name="myFormSentence" class="form-control" value="" placeholder="Masukkan Kalimat..." id="myFormSentence">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-primary waves-effect waves-light" id="submitSentence">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <!--<a type="button" class="btn btn-sm btn-brown pull-right tooltip-hover" title="Not Finish" data-toggle="modal" data-target="#add_data_raw" disabled><i class="fa fa-plus"></i> Tambah Data</a>-->
            <h4 class="m-t-0 header-title"><b>Histori Kalimat Raw</b></h4>
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Nama</th>
                    <th>Kalimat</th>
                    <th>Tanggal</th>
                    <th>Status</th>
                    <th width="70">Aksi</th>
                </tr>
                </thead>
                <tbody>
                {% for row in d %}
                <tr>
                    <td>{{ row.2}}</td>
                    <td>{{ row.3 }}</td>
                    <td>{{ row.4 }}</td>
                    <td><label class="label label-xs label-teal"><i class="fa fa-check"></i>Sudah Diproses</label></td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-info tooltip-hover" type="button" data-toggle="modal" data-target="#edit_data_raw" title="Lihat" disabled><i class="fa fa-search"></i></button>
                        <!--<button class="btn btn-xs btn-danger tooltip-hover" type="button" title="Hapus" onclick="return confirm('Apakah Anda Yakin Ingin Menghapus Data Ini ?')"><i class="fa fa-times"></i></button>-->
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->


<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Result</h4>
            </div>
            <div class="modal-body">
            
                <h5 id="rawResult"></h5>
                <h5 id="lowerResult"></h5>
                <h5 id="modifResult"></h5>
                <div id="listWord"></div>
                <div id="labeled">Success</div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
               
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!--<div id="add_data_raw" class="modal fade" tabindex="-1" role="dialog">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<form class="form-horizontal" action="{{url_for('insert')}}" method="POST" role="form">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--<h4 class="modal-title">Tambah Data</h4>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--<div class="form-group">-->
                <!--<label  class="col-sm-2 control-label" for="kata_dasar">Kata Dasar</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" id="kata_dasar" name="kata_dasar" placeholder=""/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="tipe_kata" >Tipe Kata</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<select class="form-control select2" id="tipe_kata" name="tipe_kata">-->
                        <!--<option value="">&#45;&#45; Pilih Tipe Kata &#45;&#45;</option>-->
                        <!--<option value="Nomina">Nomina</option>-->
                        <!--<option value="Adjektiva">Adjektiva</option>-->
                        <!--<option value="Verba">Verba</option>-->
                        <!--<option value="Noun">Noun</option>-->
                        <!--<option value="Partikel">Partikel</option>-->
                        <!--<option value="Lain-lain">Lain-lain</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Kembali</button>-->
            <!--<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>-->
          <!--</div>-->
        <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</form>-->
  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->


<div id="edit_data_raw" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" role="form">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Data</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label  class="col-sm-2 control-label" for="kata_dasar">Kata Dasar</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kata_dasar" name="kata_dasar" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="tipe_kata" >Tipe Kata</label>
                <div class="col-sm-10">
                    <select class="form-control select2">
                        <option value="">-- Pilih Tipe Kata --</option>
                        <option value="Nomina">Nomina</option>
                        <option value="Adjektiva">Adjektiva</option>
                        <option value="Verba">Verba</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Kembali</button>
            <button type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.js')}}"></script>

<script src="{{url_for('static', filename='plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.colVis.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

<!-- init -->
<script src="{{url_for('static', filename='pages/jquery.datatables.init.js')}}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });

        $('#submitSentence').on('click', function(){
            var form = $('#formSentence').find('input[name="myFormSentence"]').val()
            $.ajax({
                type: "POST",
                url: "{{url_for('sentence')}}",
                data: {sentence : form},
                cache: false,
                success: function(data){
                    console.log(data);
                    var listWord = '<ol>';
                    for(var i = 0; i < data.arrmodified.length; i++){
                        console.log(data.arrmodified[i]);
                        listWord += '<li>'+data.arrmodified[i]+'</li>';
                    }
                    listWord += '</ol>'

                    if(data.type == "positif"){
                        $('#labeled').html('<span id="labeled" class="label label-success">Kalimat Positif</span>')
                    }else{
                        $('#labeled').html('<span id="labeled" class="label label-danger">Kalimat Negatif</span>')
                    }

                    $('#listWord').html(listWord)
                    $('#rawResult').text(data.sentence);
                    $('#lowerResult').text(data.sentenceToLower);
                    $('#modifResult').text(data.modifSentence);
                    
                    $('#myModal').modal('show'); 
                   
                }
            });
           
        })
    });
    TableManageButtons.init();

</script>