<!-- Footer -->
<footer class="footer text-right">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                © 2016. All rights reserved.
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->