<!-- jQuery  -->
<script src="{{url_for('static', filename='js/detect.js')}}"></script>
<script src="{{url_for('static', filename='js/fastclick.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.blockUI.js')}}"></script>
<script src="{{url_for('static', filename='js/waves.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.slimscroll.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.scrollTo.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/switchery/switchery.min.js')}}"></script>

<!-- Counter js  -->
<script src="{{url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/counterup/jquery.counterup.min.js')}}"></script>

<!-- Tooltipster js -->
<script src="{{url_for('static', filename='plugins/tooltipster/tooltipster.bundle.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/select2/js/select2.min.js')}}" type="text/javascript"></script>
<!-- App js -->
<script src="{{url_for('static', filename='js/jquery.core.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.app.js')}}"></script>

<script>
    (function ($) {
    "use strict";
    $('.tooltip-hover').tooltipster();
    $('.select2').select2();
    })(jQuery);
</script>