<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="{{url_for('static', filename='images/favicon.ico')}}">

    <title>Web APP Data Mining</title>

    <!--Morris Chart CSS -->
	<link rel="stylesheet" href="{{url_for('static', filename='plugins/morris/morris.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='plugins/tooltipster/tooltipster.bundle.min.css')}}">
    <!-- App css -->
    <link href="{{url_for('static', filename='plugins/select2/css/select2.min.css')}}" rel="stylesheet" type="text/css">
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/core.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/components.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/icons.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/pages.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/menu.css')}}" rel="stylesheet" type="text/css" />
    <link href="{{url_for('static', filename='css/responsive.css')}}" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{url_for('static', filename='plugins/switchery/switchery.min.css')}}">


    <!-- HTML5 Shiv and Respond.js')}} IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js')}} doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js')}}/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script src="{{url_for('static', filename='js/modernizr.min.js')}}"></script>

    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>

</head>