<!DOCTYPE html>
<html>

<body>

{% include 'head.html' %}
{% include 'nav.html' %}

<style type="text/css">
	*{
		font-family: 'Segoe Ui';
	}
</style>

<div class="wrapper">
    <div class="container">

	{% block content %}
		{% if task == 'dashboard' %}
		    {% include 'dashboard/dashboard.html' %}
		{% endif %}
	    {% if task == 'input_kalimat' %}
			    {% include 'input_data/kalimat_raw.html' %}
	    {% endif %}
		{% if task == 'dm_kata_baku' %}
			    {% include 'data_master/kata_baku.html' %}
	    {% endif %}
		{% if task == 'dm_kata_negatif' %}
			    {% include 'data_master/kata_negatif.html' %}
	    {% endif %}
		{% if task == 'dm_kalimat_hasil' %}
			    {% include 'data_master/kalimat_hasil.html' %}
	    {% endif %}
		{% if task == 'dm_kata_gaul_asing' %}
			    {% include 'data_master/kata_gaul.html' %}
	    {% endif %}
	{% endblock %}

   <!-- Copyright -->
    {% include 'copyright.html' %}
    </div>
</div>

{% include 'footer.html' %}
</body>

</html>