<!-- DataTables -->
<link href="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
                        Kalimat Data Latih
                    </li>
                </ol>
            </div>
            <h4 class="page-title">Kalimat Raw</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title">Filtering</b></h4>
            <form id="formFilter">
                <div class="row m-b-30">
                    <div class="col col-md-6 col-md-offset-3">
                    <div class="col-md-6">
                        <div class="form-group text-center">
                            <label for="date_start" class="control-label">Dari Tanggal</label>
                            <input name="date_start" type="text" data-cond="where" class="param-filter form-control text-center datepicker" id="date_start" value="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-center">
                            <label for="date_end" class="control-label">Sampai Tanggal</label>
                            <input name="date_end" type="text" data-cond="where" class="param-filter form-control text-center datepicker" id="date_end" value="">
                        </div>
                    </div>
                    </div>
                </div>
            </form>
            
            <div class="row text-right">
            <button id="startFilter" class="btn btn-sm btn-primary w-sm waves-effect m-t-20 waves-light" title="Filter"><i class="fa fa-filter"></i> Filter</button>&nbsp;
            <button id="resetFilter" class="btn btn-sm btn-danger w-sm waves-effect m-t-20 waves-light" title="Reload"><i class="fa fa-undo"></i> Reload</button>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <!--<a type="button" class="btn btn-sm btn-brown pull-right tooltip-hover" title="Not Finish" data-toggle="modal" data-target="#add_data_raw" disabled><i class="fa fa-plus"></i> Tambah Data</a>-->
            <h4 class="m-t-0 header-title"><b>Histori Kalimat Data Latih</b>
                <div class="button-list" style="float: right;">
                    <a class="btn_pdf" target="_blank" href="#">
                        <button type="button" class="btn btn-sm btn-danger w-sm waves-effect m-t-20 waves-light pull-right">
                        <span class="fa fa-file-pdf-o"></span> Pdf</button> 
                    </a>
                    <a title="Export Excel" class="btn_excel" target="_blank" href="#">
                        <button type="button" class="btn btn-sm btn-success w-sm waves-effect m-t-20 waves-light pull-right">
                        <span class="fa fa-file-excel-o"></span>&nbsp; Excel</button> 
                    </a>
                </div>
            </h4>
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Kalimat</th>
                </tr>
                </thead>
                <tbody>
                {% for row in d %}
                <tr>
                    <td>{{ row.3 }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->

<script src="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.js')}}"></script>

<script src="{{url_for('static', filename='plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.colVis.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

<!-- init -->
<script src="{{url_for('static', filename='pages/jquery.datatables.init.js')}}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });

        var dataGlob;

        $('#submitSentence').on('click', function(){
            var form = $('#formSentence').find('input[name="myFormSentence"]').val()
            $.ajax({
                type: "POST",
                url: "{{url_for('sentence')}}",
                data: {sentence : form},
                cache: false,
                success: function(data){
                    console.log(data);
                    dataGlob = data;

                    // listWord builder
                    var listWord = '<ol>';
                    for(var i = 0; i < data.arrmodified.length; i++){
                        console.log(data.arrmodified[i]);
                        listWord += '<li>'+data.arrmodified[i]+'</li>';
                    }
                    listWord += '</ol>';

                    // listFixed builder
                    var listFixed = '<ol>';
                    for(var i = 0; i < data.listFixed.length; i++){
                        console.log(data.listFixed[i]);
                        listFixed += '<li>'+data.listFixed[i][0]+' = '+data.listFixed[i][1]+'</li>';
                    }
                    listFixed += '</ol>';

                    // listFixed builder
                    var stopWord = '<ol>';
                    for(var i = 0; i < data.data_stop_word.length; i++){
                        console.log(data.data_stop_word[i]);
                        stopWord += '<li>'+data.data_stop_word[i]+'</li>';
                    }
                    stopWord += '</ol>';

                     // inflected builder
                    var steemWords = '<ol>';
                    for(var i = 0; i < data.steemWords.length; i++){
                        console.log(data.steemWords[i]);
                        steemWords += '<li>'+data.steemWords[i]["inflected"]+' = '+data.steemWords[i]["base"]+'</li>';
                    }
                    steemWords += '</ol>';

                    // listNotIn builder
                    // var listNotIn = '<ol>';
                    // for(var i = 0; i < data.listNotIn.length; i++){
                    //     console.log(data.listNotIn[i]);
                    //     listNotIn += '<li>'+data.listNotIn[i]+'</li>';
                    // }
                    // listNotIn += '</ol>';

                    $('#rawResult').text('Kalimat Asli : '+data.sentence);
                    $('#modifResult').text('Case Folding : '+data.modifSentence);
                    // $('#lowerResult').text(data.sentenceToLower);
                    $('#listWord').html('Tokenizing : <br>'+listWord)
                    $('#stopWord').html('Stopword : <br>'+stopWord)
                    $('#listFixed').html('Normalisasi : <br>'+listFixed)
                    $('#steemWords').html('Steemed : <br>'+steemWords)
                    $('#finalWord').text('Final Word : '+data.finalWord);
                    // $('#listFixed').html('Belum Ada Pembetulan : <br>'+listNotIn)
                    if(data.my_prediction == "positif"){
                        $('#labeled').html('Hasil : <span id="labeled" class="label label-success">Kalimat Positif</span>')
                    }else if(data.my_prediction == "negatif"){
                        $('#labeled').html('Hasil : <span id="labeled" class="label label-danger">Kalimat Negatif</span>')
                    }else{$('#labeled').html('Hasil : <span id="labeled" class="label label-brown">Unknown</span>')}

                    $('#myModal').modal('show');

                }
            });

        })

        $('#save-btn').on('click', function() {
            $( this ).attr("disabled", true).text("loading..");
            // console.log(dataGlob)
            self = this
            $.ajax({
                type: "POST",
                url: "{{url_for('insert_kalimat')}}",
                data: dataGlob,
                cache: false,
                success: function(data){
                    $(self).text("Save").attr("disabled", false);
                    $('#myModal').modal('hide');
                    // location.reload(true);
                    // window.location("{{url_for('home', task="dm_kalimat_hasil")}}")
                    window.location.replace("{{url_for('home', task="dm_kalimat_hasil")}}");

                    console.log("ddd");
                }
            });
        })
    });
    TableManageButtons.init();

    $('.delete_data_history').on('click', function() {
        var id = $(this).attr('data-id');
        self = this
        $.ajax({
            type: "POST",
            url: "{{url_for('delete_kalimat_histori')}}",
            data: {"id" : id},
            cache: false,
            success: function(data){
                location.reload(true);
            }
        });
    })

</script>