<!-- DataTables -->
<link href="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
                        Kalimat Data Uji
                    </li>
                </ol>
            </div>
            <h4 class="page-title">Data Kalimat Uji</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
        <div class="col-sm-12">
            <div class="card-box">
                <h4 class="m-t-0 header-title">Filtering</b></h4>
                <form id="formFilter">
                    <div class="row m-b-30">
                        <div class="col col-md-6 col-md-offset-3">
                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <label for="date_start" class="control-label">Dari Tanggal</label>
                                <input name="date_start" type="text" data-cond="where" class="param-filter form-control text-center datepicker" id="date_start" value="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group text-center">
                                <label for="date_end" class="control-label">Sampai Tanggal</label>
                                <input name="date_end" type="text" data-cond="where" class="param-filter form-control text-center datepicker" id="date_end" value="">
                            </div>
                        </div>
                        </div>
                    </div>
                </form>
                
                <div class="row text-right">
                    <button id="startFilter" class="btn btn-sm btn-primary w-sm waves-effect m-t-20 waves-light" title="Filter"><i class="fa fa-filter"></i> Filter</button>&nbsp;
                    <button id="resetFilter" class="btn btn-sm btn-danger w-sm waves-effect m-t-20 waves-light" title="Reload"><i class="fa fa-undo"></i> Reload</button>
                </div>
            </div>
        </div>
    </div>

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
<!--            <a type="button" class="btn btn-sm btn-brown pull-right tooltip-hover" title="Tambah Data" data-toggle="modal" data-target="#add_data_raw"><i class="fa fa-plus"></i> Tambah Data</a>-->
            <h4 class="m-t-0 header-title"><b>Data Kalimat Uji</b>
                <div class="button-list" style="float: right;">
                    <a class="btn_pdf" target="_blank" href="#">
                        <button type="button" class="btn btn-sm btn-danger w-sm waves-effect m-t-20 waves-light pull-right">
                        <span class="fa fa-file-pdf-o"></span> Pdf</button> 
                    </a>
                    <a title="Export Excel" class="btn_excel" target="_blank" href="#">
                        <button type="button" class="btn btn-sm btn-success w-sm waves-effect m-t-20 waves-light pull-right">
                        <span class="fa fa-file-excel-o"></span>&nbsp; Excel</button> 
                    </a>
                </div>
            </h4>

             <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id Tweet</th>
                    <th>Kalimat</th>
                    <th>Positif</th>
                    <th>Negatif</th>
                    <!--<th>Status</th>-->
                    <!--<th width="70">Aksi</th>-->
                </tr>
                </thead>
                <tbody>
                {% for row in d %}
                <tr>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    {% if row.3 == "1"  %}
                    <td><label class="label label-xs label-teal"><i class="fa fa-check"></i></label></td>
                    <td>-</td>
                    {% else %}
                    <td>-</td>
                    <td><label class="label label-xs label-teal"><i class="fa fa-check"></i></label></td>
                    {% endif %}
                    <!--<td>-->
                        <!--<input type="checkbox" id="switch1" checked="" switch="none">-->
                                            <!--<label for="switch1" data-on-label="On" data-off-label="Off"></label>-->
                    <!--</td>-->
                    <!--<td class="text-center">-->
                        <!--<button class="btn btn-xs btn-info tooltip-hover" type="button" data-toggle="modal" data-target="#edit_data_raw" title="Ubah" disabled><i class="fa fa-edit"></i></button>-->
                        <!--<button class="btn btn-xs btn-danger tooltip-hover" type="button" title="Hapus" onclick="return confirm('Apakah Anda Yakin Ingin Menghapus Data Ini ?')"><i class="fa fa-times"></i></button>-->
                    <!--</td>-->
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->



<script src="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.js')}}"></script>

<script src="{{url_for('static', filename='plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.colVis.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

<!-- init -->
<script src="{{url_for('static', filename='pages/jquery.datatables.init.js')}}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true,
            order: [[ 0, "desc" ]]
        });
    });
    TableManageButtons.init();

</script>