<!-- DataTables -->
<link href="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
                        Kalimat Raw
                    </li>
                </ol>
            </div>
            <h4 class="page-title">Data Kalimat Raw</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <button type="button" class="btn btn-sm btn-brown pull-right"><i class="fa fa-plus"></i> Tambah Data</button>
            <h4 class="m-t-0 header-title"><b>Data Kalimat Raw</b></h4>
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Nama</th>
                    <th>Subjek</th>
                    <th>Text</th>
                    <th>Waktu</th>
                    <th>Status</th>
                    <th width="70">Aksi</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Tiger Nixon</td>
                    <td>System Architect</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus delectus doloribus eos et fuga, inventore ipsa, ipsum laudantium nostrum, optio praesentium reiciendis voluptatem? Atque earum maiores, quo saepe sapiente voluptatem.</td>
                    <td>25 Januari 2019</td>
                    <td>Belum diproses</td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-success" type="button"><i class="fa fa-check"></i></button>
                        <button class="btn btn-xs btn-warning tooltip-hover" type="button" title="Ubah"><i class="fa fa-pencil"></i></button>
                        <button class="btn btn-xs btn-danger tooltip-hover" type="button" title="Hapus"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Ruby</td>
                    <td>Desain Architect</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus delectus doloribus eos et fuga, inventore ipsa, ipsum laudantium nostrum, optio praesentium reiciendis voluptatem? Atque earum maiores, quo saepe sapiente voluptatem.</td>
                    <td>26 Januari 2019</td>
                    <td><label class="label label-xs label-success"><i class="fa fa-check"></i>Naivebas</label></td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-primary tooltip-hover" type="button" title="Detail"><i class="fa fa-search"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Cyclop</td>
                    <td>Administrator</td>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus delectus doloribus eos et fuga, inventore ipsa, ipsum laudantium nostrum, optio praesentium reiciendis voluptatem? Atque earum maiores, quo saepe sapiente voluptatem.</td>
                    <td>27 Januari 2019</td>
                    <td><label class="label label-xs label-success"><i class="fa fa-check"></i>Naivebas</label></td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-primary tooltip-hover" type="button" title="Detail"><i class="fa fa-search"></i></button>
                        <!--<button class="btn btn-xs btn-warning tooltip-hover" type="button" title="Ubah"><i class="fa fa-pencil"></i></button>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->

<script src="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.js')}}"></script>

<script src="{{url_for('static', filename='plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.colVis.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

<!-- init -->
<script src="{{url_for('static', filename='pages/jquery.datatables.init.js')}}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

</script>