<!-- DataTables -->
<link href="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
                        Kata Baku
                    </li>
                </ol>
            </div>
            <h4 class="page-title">Data Kata Baku</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <button type="button" class="btn btn-sm btn-brown pull-right" data-toggle="modal" data-target="#add_data_raw"><i class="fa fa-plus"></i> Tambah Data</button>
            <h4 class="m-t-0 header-title"><b>Data Kata Baku</b></h4>
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Kata Dasar</th>
                    <th>Tipe Kata Dasar</th>
                    <th>Status</th>
                    <th width="70">Aksi</th>
                </tr>
                </thead>
                <tbody>
                {% for row in d %}
                <tr>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>
                        <input type="checkbox" id="switch1" checked="" switch="none">
                                            <label for="switch1" data-on-label="On" data-off-label="Off"></label>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-xs btn-info tooltip-hover" type="button" data-toggle="modal" data-target="#edit_data_raw" title="Ubah"><i class="fa fa-edit"></i></button>
                        <!--<button class="btn btn-xs btn-danger tooltip-hover" type="button" title="Hapus" onclick="return confirm('Apakah Anda Yakin Ingin Menghapus Data Ini ?')"><i class="fa fa-times"></i></button>-->
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->

<div id="add_data_raw" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" action="{{url_for('insert')}}" method="POST" role="form">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Tambah Data</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label  class="col-sm-2 control-label" for="kata_dasar">Kata Dasar</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kata_dasar" name="kata_dasar" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="tipe_kata" >Tipe Kata</label>
                <div class="col-sm-10">
                    <select class="form-control select2" id="tipe_kata" name="tipe_kata">
                        <option value="">-- Pilih Tipe Kata --</option>
                        <option value="Nomina">Nomina</option>
                        <option value="Adjektiva">Adjektiva</option>
                        <option value="Verba">Verba</option>
                        <option value="Noun">Noun</option>
                        <option value="Partikel">Partikel</option>
                        <option value="Lain-lain">Lain-lain</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Kembali</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="edit_data_raw" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" role="form">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Edit Data</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
                <label  class="col-sm-2 control-label" for="kata_dasar">Kata Dasar</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kata_dasar" name="kata_dasar" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="tipe_kata" >Tipe Kata</label>
                <div class="col-sm-10">
                    <select class="form-control select2">
                        <option value="">-- Pilih Tipe Kata --</option>
                        <option value="Nomina">Nomina</option>
                        <option value="Adjektiva">Adjektiva</option>
                        <option value="Verba">Verba</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Kembali</button>
            <button type="button" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.js')}}"></script>

<script src="{{url_for('static', filename='plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.colVis.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

<!-- init -->
<script src="{{url_for('static', filename='pages/jquery.datatables.init.js')}}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $('#datatable').dataTable();
        $('#datatable-keytable').DataTable({keys: true});
        $('#datatable-responsive').DataTable();
        $('#datatable-colvid').DataTable({
            "dom": 'C<"clear">lfrtip',
            "colVis": {
                "buttonText": "Change columns"
            }
        });
        $('#datatable-scroller').DataTable({
            ajax: "../plugins/datatables/json/scroller-demo.json",
            deferRender: true,
            scrollY: 380,
            scrollCollapse: true,
            scroller: true
        });
        var table = $('#datatable-fixed-header').DataTable({fixedHeader: true});
        var table = $('#datatable-fixed-col').DataTable({
            scrollY: "300px",
            scrollX: true,
            scrollCollapse: true,
            paging: false,
            fixedColumns: {
                leftColumns: 1,
                rightColumns: 1
            }
        });
    });
    TableManageButtons.init();

</script>