
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
<!--                        Dashboard-->
                    </li>
                </ol>
            </div>
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->


<div class="row text-center">

    <div class="col-lg-4">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Total Kata</p>
                <h2 class="text-danger">
                    <span data-plugin="counterup">
                        {% for row in d %}
                            {{ row.0 }}
                        {% endfor %}
                    </span>
                </h2>
                <!--<p class="text-muted m-0"><b>Last:</b> 30.4k</p>-->
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-4">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Total Kata Negatif</p>
                <h2 class="text-warning"><span data-plugin="counterup">{% for row in d5 %}
                            {{ row.0 }}
                        {% endfor %}</span> </h2>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-4">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Total Kata Positif</p>
                <h2 class="text-primary"><span data-plugin="counterup">{% for row in d6 %}
                            {{ row.0 }}
                        {% endfor %}</span> </h2>
                <!--<p class="text-muted m-0"><b>Last:</b> 20k</p>-->
            </div>
        </div>
    </div><!-- end col -->

</div>
<!-- end row -->


<div class="row">
    <div class="col-lg-4 col-lg-offset-4">
        <div class="card-box">
            <h4 class="header-title m-t-0">Perbandingan Kata Negatif & Positif</h4>
            <div id="cont_perbandingan" style="height: 160px;"></div>
        </div>
    </div><!-- end col -->
</div>
<!-- end row -->

<!--Morris Chart-->
<script src="{{url_for('static', filename='plugins/morris/morris.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/raphael/raphael-min.js')}}"></script>

<!-- Dashboard init -->
<script src="{{url_for('static', filename='pages/jquery.dashboard.js')}}"></script>

<!-- Highchart -->
<script src="{{url_for('static', filename='js/jquery-3.1.1.min.js')}}"></script>
<script src="{{url_for('static', filename='js/highcharts.js')}}"></script>
<script src="{{url_for('static', filename='js/exporting.js')}}"></script>

<script type="text/javascript">

$(document).ready(function () {

    // cont_perbandingan
    Highcharts.chart('cont_perbandingan', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ''
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: false
                },
                showInLegend: true
            }
        },
        series: [{
            name: 'Brands',
            colorByPoint: true,
            data: [{
                name: 'Kata Positif',
                // Ubah Disini jika salah
                y: {{ d7 }},
                color: '#5cb85c',
                sliced: true,
                selected: true
            },{
                name: 'Kata Negatif',
                // Ubah Disini jika salah
                y: {{ d8 }},
                color: '#d9534f'
            }]
        }]
    });

});
</script>