<style>
body {
    background: url({{url_for('static', filename='images/bg.jpg')}}) repeat fixed;
}
.wrapper{
    margin-top: 160px;
}
@media (max-width: 992px){
    .wrapper{
        margin-top: 210px;
    }
}
@media (max-width: 380px){
    .wrapper{
        margin-top: 230px;
    }
}
.panel{
    box-shadow: none;
    background: none;
    border-radius: 0px;
}
.form-control{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
.form-control{
    border: 1px solid rgba(255,255,255,0.7);
    background-color: transparent;
    color: #fff !important;
    -webkit-border-radius: 4px !important;
    -moz-border-radius: 4px !important;
    -ms-border-radius: 4px !important;
    border-radius: 4px !important;
    line-height: 30px !important;
    text-align: center;
}
.form-control:focus{
    background-color: #fff;
    color: #000 !important;
    border: 1px solid #ffffff;
    box-shadow: 0 1px 0 #ffffff;
    outline: 1 !important;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.7) !important;
    opacity: 1 !important; /* Firefox */
    text-align: center;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.7) !important;
    text-align: center;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.7) !important;
    text-align: center;
}
</style>
<div class="wrapper">
    <div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <!--
            <div class="alert alert-icon alert-danger alert-dismissible fade in" role="alert" style="background-color: red; position: fixed; z-index: 9999; bottom: 10px; right: 10px;">
            <button type="button" class="close" data-dismiss="alert"
                    aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <i class="mdi mdi-alert"></i>
            <strong></strong> 
        </div>  
        -->
    </div>
            <div class="col-md-3"></div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4">
                <div class="panel panel-color panel-danger">
                   <!--  <div class="panel-heading">
                        <h3 class="panel-title text-center">LOGIN APLIKASI</h3>
                        <p class="panel-sub-title font-13 text-muted text-center"><i>Masukan username dan password</i></p>
                    </div> -->
                    <div class="panel-body">
                        <form class="form-horizontal" method="post" action="{{url_for('login')}}">

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                        <input class="form-control" type="text" placeholder="Username" name="username" oninvalid="this.setCustomValidity('Mohon Masukkan Username Anda')" oninput="setCustomValidity('')" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-12 col-md-offset-0">
                                        <input class="form-control" type="password" placeholder="Password" oninvalid="this.setCustomValidity('Mohon Masukkan Password Anda')" oninput="setCustomValidity('')" name="password" required>
                                    </div>
                                </div>

                                <!-- <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="checkbox checkbox-success">
                                            <input id="checkbox-signup" type="checkbox" checked>
                                            <label for="checkbox-signup">
                                                Remember me
                                            </label>
                                        </div>

                                    </div>
                                </div> -->

                                <!-- <div class="form-group text-center m-t-30">
                                    <div class="col-sm-12">
                                        <a href="#" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot your password?</a>
                                    </div>
                                </div> -->

                                <div class="form-group account-btn text-center m-t-10">
                                    <div class="col-xs-12">
                                        
                                            <button class="btn w-md btn-bordered btn-primary waves-effect waves-light" 
                                            type="submit">Log In &nbsp;<i class="fa fa-arrow-right"></i></button>
                                       
                                    </div>
                                </div>

                            </form>
                    </div>
                </div>
            </div><!-- end col -->

        </div>
        <!-- end row -->


        <!-- Footer -->
        <footer class="footer text-right" style="color: #fff">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        Copyright © 2019 SIA rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer -->

    </div>
</div>