<!-- DataTables -->
<link href="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
<!--                        Kalimat Data Uji-->
                    </li>
                </ol>
            </div>
<!--            <h4 class="page-title">Kalimat Data Uji</h4>-->
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
<!--            <a type="button" class="btn btn-sm btn-brown pull-right tooltip-hover" title="Tambah Data" data-toggle="modal" data-target="#add_data_raw"><i class="fa fa-plus"></i> Tambah Data</a>-->
            <h4 class="m-t-0 header-title"><b>Data Kalimat uji</b></h4>
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Id Tweet</th>
                    <th>Kalimat</th>
                    <th>Positif</th>
                    <th>Negatif</th>
                    <!--<th>Status</th>-->
                    <th width="70">Aksi</th>
                </tr>
                </thead>
                <tbody>
                {% for row in d %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.2 }}</td>
                    {% if row.3 == "0"  %}
                    <td><label class="label label-xs label-teal"><i class="fa fa-check"></i></label></td>
                    <td>-</td>
                    {% else %}
                    <td>-</td>
                    <td><label class="label label-xs label-teal"><i class="fa fa-check"></i></label></td>
                    {% endif %}
                    <!--<td>-->
                        <!--<input type="checkbox" id="switch1" checked="" switch="none">-->
                                            <!--<label for="switch1" data-on-label="On" data-off-label="Off"></label>-->
                    <!--</td>-->
                    <td class="text-center">
<!--                        <button class="btn btn-xs btn-info tooltip-hover" type="button" data-toggle="modal" data-target="#edit_data_raw" title="Ubah" disabled><i class="fa fa-edit"></i></button>-->
                        <button class="btn btn-xs btn-danger tooltip-hover" type="button" title="Hapus" onclick="deleteVal({{ row.0 }}, 'kalimat_hasil')"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->

<!--<div id="add_data_raw" class="modal fade" tabindex="-1" role="dialog">-->
  <!--<div class="modal-dialog" role="document">-->
    <!--<form class="form-horizontal" action="{{url_for('insert')}}" method="POST" role="form">-->
        <!--<div class="modal-content">-->
          <!--<div class="modal-header">-->
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--<h4 class="modal-title">Tambah Data</h4>-->
          <!--</div>-->
          <!--<div class="modal-body">-->
            <!--<div class="form-group">-->
                <!--<label  class="col-sm-2 control-label" for="kata_dasar">Kata Dasar</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<input type="text" class="form-control" id="kata_dasar" name="kata_dasar" placeholder=""/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<label class="col-sm-2 control-label" for="tipe_kata" >Tipe Kata</label>-->
                <!--<div class="col-sm-10">-->
                    <!--<select class="form-control select2" id="tipe_kata" name="tipe_kata">-->
                        <!--<option value="">&#45;&#45; Pilih Tipe Kata &#45;&#45;</option>-->
                        <!--<option value="Nomina">Nomina</option>-->
                        <!--<option value="Adjektiva">Adjektiva</option>-->
                        <!--<option value="Verba">Verba</option>-->
                        <!--<option value="Noun">Noun</option>-->
                        <!--<option value="Partikel">Partikel</option>-->
                        <!--<option value="Lain-lain">Lain-lain</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="modal-footer">-->
            <!--<button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Kembali</button>-->
            <!--<button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>-->
          <!--</div>-->
        <!--</div>&lt;!&ndash; /.modal-content &ndash;&gt;-->
    <!--</form>-->
  <!--</div>&lt;!&ndash; /.modal-dialog &ndash;&gt;-->
<!--</div>&lt;!&ndash; /.modal &ndash;&gt;-->


<div id="add_data_raw" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" action="{{url_for('insert')}}" method="POST" role="form">
        <div class="modal-content">
          <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
            <!--<h4 class="modal-title">Tambah Data</h4>-->
          </div>
          <input type="hidden" class="form-control" id="param_url" name="param_url" placeholder="" value="kalimat_hasil"/>
          <div class="modal-body">
            <div class="form-group">
                <label  class="col-sm-3 control-label" for="preprocessing">Preprocessing</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="preprocessing" name="preprocessing" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label" for="tipe_kalimat">Tipe Kalimat</label>
                <div class="col-sm-9">
                    <select class="form-control select2" name="tipe_kalimat">
                        <option value="">-- Pilih Tipe Kalimat --</option>
                        <option value="Positif">Positif</option>
                        <option value="Negatif">Negatif</option>
                    </select>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Kembali</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.js')}}"></script>

<script src="{{url_for('static', filename='plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.colVis.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

<!-- init -->
<script src="{{url_for('static', filename='pages/jquery.datatables.init.js')}}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true,
            ordering: false
        });

      
    });
    TableManageButtons.init();

    function deleteVal(id, type){
        var result = confirm('Apakah Anda Yakin Ingin Menghapus Data Ini ?')  
        console.log(result)
        if(result){
            $.ajax({
                url: "/del_data",
                type:'POST',
                data:{
                    id : id, 
                    type : type
                },
                cache: false,
                success: function(html){
                    alert('success')
                    location.reload();
                }
            });
        }
    }

</script>