<!-- DataTables -->
<link href="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedHeader.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/scroller.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.colVis.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.min.css')}}" rel="stylesheet" type="text/css"/>
<link href="{{url_for('static', filename='plugins/datatables/fixedColumns.dataTables.min.css')}}" rel="stylesheet" type="text/css"/>

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
<!--                        Kata Gaul & Asing-->
                    </li>
                </ol>
            </div>
<!--            <h4 class="page-title">Data Kata Gaul & Asing</h4>-->

        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->

<div class="row">
    <div class="col-sm-12">
        <div class="card-box table-responsive">
            <button type="button" class="btn btn-sm btn-brown pull-right tooltip-hover" title="Not Finish" data-toggle="modal" data-target="#add_data_raw"><i class="fa fa-plus"></i> Tambah Data</button>
            <h4 class="m-t-0 header-title"><b>Data Kata Gaul & Asing </b></h4>
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Kata Gaul</th>
                    <th>Kata Asing</th>
                    <th>Kata Baku</th>
<!--                    <th>Status</th>-->
                    <th width="70">Aksi</th>
                </tr>
                </thead>
                <tbody>
                {% for row in d %}
                <tr>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    <td>{{ row.3 }}</td>
<!--                    <td>-->
<!--                        <input type="checkbox" id="switch1" checked="" switch="none">-->
<!--                                            <label for="switch1" data-on-label="On" data-off-label="Off"></label>-->
<!--                    </td>-->
                    <td class="text-center">
                        <!--<button class="btn btn-xs btn-info tooltip-hover" type="button" data-toggle="modal" data-target="#edit_data_raw" title="Ubah"><i class="fa fa-edit"></i></button> -->
                        <button class="btn btn-xs btn-info tooltip-hover" type="button" data-toggle="modal" data-id="{{row.0}}" data-type="kata_gaul_asing" onclick="editData(this)" title="Ubah"><i class="fa fa-edit"></i></button>
                        <button class="btn btn-xs btn-danger tooltip-hover" type="button" title="Hapus" onclick="deleteVal({{row.0}}, 'kata_gaul_asing')"><i class="fa fa-times"></i></button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->


<div id="add_data_raw" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" action="{{url_for('insert')}}" method="POST" role="form">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Tambah Data</h4>
          </div>
          <input type="hidden" class="form-control" id="param_url" name="param_url" placeholder="" value="kata_gaul"/>
          <div class="modal-body">
            <div class="form-group">
                <label  class="col-sm-2 control-label" for="kata_gaul">Kata Gaul</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kata_gaul" name="kata_gaul" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label" for="kata_asing">Kata Asing</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kata_asing" name="kata_asing" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="tipe_kata" >Kata Baku</label>
                <div class="col-sm-10">
                    <select class="form-control adv_search_kata_baku" name="id_kata_baku" id="id_kata_baku">
                        <!-- <option value="">-- Pilih Kata Baku --</option> -->
                        
                    </select>
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Kembali</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div id="edit_data_raw" class="modal fade" role="dialog">
  <div class="modal-dialog" role="document">
    <form class="form-horizontal" action="/update_data" method="POST" role="form">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Ubah Data</h4>
          </div>
           <input type="hidden" class="form-control" id="id_data" name="id" placeholder=""/>
            <input type="hidden" class="form-control" id="typeData" name="typeData" placeholder=""/>
          <div class="modal-body">
            <div class="form-group">
                <label  class="col-sm-2 control-label" for="kata_gaul">Kata Gaul</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kata_gaul_edit" name="kata_gaul" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label" for="kata_asing">Kata Asing</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="kata_asing_edit" name="kata_asing" placeholder=""/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="tipe_kata" >Kata Baku</label>
                <div class="col-sm-10">
                  <div class="input-group" style="display:none" id="selectUbah">
                    <select class="form-control adv_search_kata_baku" name="id_kata_baku" id="id_kata_baku">
                    </select>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-warning" onclick="showEditInput()">Batalkan</button>
                    </span>
                  </div>
                  <div class="input-group" id="inputUbah">
                    <input type="text" class="form-control" id="tipe_kata_edit">
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-sm btn-success" onclick="showEditSelect()">Ubah</button>
                    </span>
                  </div>
                   
                </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-arrow-left"></i> Kembali</button>
            <button type="submit" class="btn btn-success"><i class="fa fa-floppy-o"></i> Simpan</button>
          </div>
        </div><!-- /.modal-content -->
    </form>
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->





<script src="{{url_for('static', filename='plugins/datatables/jquery.dataTables.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.bootstrap.js')}}"></script>

<script src="{{url_for('static', filename='plugins/datatables/dataTables.buttons.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/jszip.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/pdfmake.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/vfs_fonts.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.html5.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/buttons.print.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedHeader.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.keyTable.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.responsive.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/responsive.bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.scroller.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.colVis.js')}}"></script>
<script src="{{url_for('static', filename='plugins/datatables/dataTables.fixedColumns.min.js')}}"></script>

<!-- init -->
<script src="{{url_for('static', filename='pages/jquery.datatables.init.js')}}"></script>


<script type="text/javascript">
    $(document).ready(function () {
        $(document).ready(function () {
        var table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true,
            ordering: false
        });
    });
    });
    TableManageButtons.init();

    function deleteVal(id, type){
        var result = confirm('Apakah Anda Yakin Ingin Menghapus Data Ini ?')  
        console.log(result)
        if(result){
            $.ajax({
                url: "/del_data",
                type:'POST',
                data:{
                    id : id, 
                    type : type
                },
                cache: false,
                success: function(html){
                    alert('success')
                    location.reload();
                }
            });
        }
    }

    function editData(elm){
      $.ajax({
        url: "/get_data_by_id",
        type:'POST',
        data:{
            id : $(elm).attr('data-id'), 
            type : $(elm).attr('data-type')
        },
        cache: false,
        success: function(res){
          console.log(res)
          //console.log(res.data[2])
          $('#id_data').val(res.data[0]);
          $('#kata_gaul_edit').val(res.data[1])
          $('#kata_asing_edit').val(res.data[2])
          $('#tipe_kata_edit').val(res.data[5])
          $('#typeData').val($(elm).attr('data-type'))
          $('#inputUbah').show()
          $('#selectUbah').hide()
          $('#edit_data_raw').modal()
        }
      });
    }

    function showEditSelect(){
      $('#selectUbah').show()
      $('#inputUbah').hide()
    }

    function showEditInput(){
      $('#inputUbah').show()
      $('#selectUbah').hide()
    }



</script>