<!-- jQuery  -->
<script src="{{url_for('static', filename='js/detect.js')}}"></script>
<script src="{{url_for('static', filename='js/fastclick.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.blockUI.js')}}"></script>
<script src="{{url_for('static', filename='js/waves.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.slimscroll.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.scrollTo.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/switchery/switchery.min.js')}}"></script>

<!-- Counter js  -->
<script src="{{url_for('static', filename='plugins/waypoints/jquery.waypoints.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/counterup/jquery.counterup.min.js')}}"></script>

<!-- Tooltipster js -->
<script src="{{url_for('static', filename='plugins/tooltipster/tooltipster.bundle.min.js')}}"></script>
<!-- App js -->
<script src="{{url_for('static', filename='js/jquery.core.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.app.js')}}"></script>
<script src="{{url_for('static', filename='plugins/select2/js/select2.min.js')}}" type="text/javascript"></script>

<script>
	function select2() {
		console.log(22)
		$('.adv_search_kata_baku').select2({        
	        placeholder : "-- Pilih --",
	        minimumInputLength: 2,
	        ajax: {
	            url: "{{url_for('get_opt_kata_baku')}}",
	            type: "post",
	            dataType: "json",
	            delay: 250,
	            data: function(params) {
	                return {
	                  search: params.term
	                }
	              },
	            processResults: function (response) {
	              return {
	                results: response
	              };
	            }
	        }
		});
	}

    (function ($) {
    "use strict";
    $('.tooltip-hover').tooltipster();
    $('.select2').select2();
	    $('.adv_search_kata_baku').select2({        
	        placeholder : "-- Pilih --",
	        minimumInputLength: 2,
	        ajax: {
	            url: "{{url_for('get_opt_kata_baku')}}",
	            type: "post",
	            dataType: "json",
	            delay: 250,
	            data: function(params) {
	                return {
	                  search: params.term
	                }
	              },
	            processResults: function (response) {
	              return {
	                results: response
	              };
	            }
	        }
		});

	$('.btn-info').on('click', function() {
		// select2()
		// $('.adv_search_kata_baku').val(4245).trigger('change');
		$('.adv_search_kata_baku').select2('val', 18610, true);
		
		console.log(1)
        return false;
    });	
    })(jQuery);
</script>