<!DOCTYPE html>
<html>

<body>
{% include 'head.html' %}

{% if task == ''%}
	{% include 'nav-login.html' %}
	{% include 'login/login.html'%}
{% else %}
	{% include 'nav.html' %}
{% endif %}


<style type="text/css">
	*{
		font-family: 'Segoe Ui';
	}
</style>

{% if task != ''%}
<div class="wrapper">
    <div class="container">

	{% block content %}
		{% if task == 'dashboard' %}
		    {% include 'dashboard/dashboard.html' %}
		{% endif %}
	    {% if task == 'input_kalimat' %}
			    {% include 'input_data/kalimat_raw.html' %}
	    {% endif %}
		{% if task == 'dm_kata_baku' %}
			    {% include 'data_master/kata_baku.html' %}
	    {% endif %}
		{% if task == 'dm_kata_negatif' %}
			    {% include 'data_master/kata_negatif.html' %}
	    {% endif %}
		{% if task == 'dm_kalimat_hasil' %}
			    {% include 'data_master/kalimat_hasil.html' %}
	    {% endif %}
		{% if task == 'dm_kata_gaul_asing' %}
			    {% include 'data_master/kata_gaul.html' %}
	    {% endif %}
		{% if task == 'teser' %}
				{% for item in data %}
					<p> {{ item }} </p>
				{% endfor %}
	    {% endif %}
		<!-- laporan -->
		{% if task == 'lp_kalimat_raw' %}
			    {% include 'laporan/kalimat_raw.html' %}
	    {% endif %}
		{% if task == 'lp_kalimat_netpo' %}
			    {% include 'laporan/kalimat_hasil.html' %}
	    {% endif %}
	{% endblock %}

   <!-- Copyright -->
		{% include 'copyright.html' %}
    </div>
</div>
{% else %}
{% endif %}


{% include 'footer.html' %}
</body>

</html>