<!-- Navigation Bar-->
<style>
#topnav .topbar-main {
    /*-webkit-box-shadow: -1px 7px 12px -2px rgba(0,0,0,0.33);
    -moz-box-shadow: -1px 7px 12px -2px rgba(0,0,0,0.33);
    box-shadow: -1px 7px 12px -2px rgba(0,0,0,0.33);*/

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background: none;
}
#topnav .topbar-main .logo{
    width: 100%;
    display: block;
}
#topnav .topbar-main .logo img{
    padding: 7px;
    /*border-radius: 4px;*/
    /*background-color: rgb(255, 255, 255);*/
}
.background{
    top: 0;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background: #000;
    display: block;
}
.background img{
    opacity: 0.6;
    min-width: 100%;
    height: auto;
    min-height: 100%;
}
.text_judul{
    float: left;
    clear: both;
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    margin-top: 10px;
    font-size: 17px;
    font-weight: bold;
}
footer.footer{
    border: none !important;
    background:none !important;    
}
</style>
<figure class="background"> 
    <img src="{{url_for('static', filename='images/bg.jpg')}}" style="width:100%;" alt=""> 
</figure>
<header id="topnav" style="margin-top: 130px;">
    <div class="topbar-main">
        <div class="container">

            <!-- Logo container-->  
            <div class="logo" style="text-align: center;">
                <!-- Text Logo -->
                <!--<a href="index.html" class="logo">-->
                    <!--Zircos-->
                <!--</a>-->
                <!-- Image Logo -->
                <!--
                    <a href="<?php echo base_url()?>" class="logo">
                    <img src="<?php echo base_url()?>berkas/logo1.png" alt="" height="120">
                </a>
                -->

            </div>
                <span class="text_judul">Login Aplikasi Data Mining</span>
            <!-- End Logo container-->


        </div> <!-- end container -->
    </div>
    <!-- end topbar-main -->

</header>
<!-- End Navigation Bar-->