
<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="btn-group pull-right">
                <ol class="breadcrumb hide-phone p-0 m-0">
                    <li class="active">
                        Dashboard
                    </li>
                </ol>
            </div>
            <h4 class="page-title">Dashboard</h4>
        </div>
    </div>
</div>
<!-- end page title end breadcrumb -->


<div class="row text-center">

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Total Kata</p>
                <h2 class="text-danger"><span data-plugin="counterup">34578</span></h2>
                <!--<p class="text-muted m-0"><b>Last:</b> 30.4k</p>-->
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Kata Hari Ini</p>
                <h2 class="text-dark"><span data-plugin="counterup">895</span> </h2>
                <!--<p class="text-muted m-0"><b>Last:</b> 1250</p>-->
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Kata Bulan Ini</p>
                <h2 class="text-success"><span data-plugin="counterup">52410</span></h2>
                <!--<p class="text-muted m-0"><b>Last:</b> 40.33k</p>-->
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Total Kata Negatif</p>
                <h2 class="text-warning"><span data-plugin="counterup">652</span> </h2>
                <!--<p class="text-muted m-0"><b>Last:</b> 956</p>-->
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Total Kata Positif</p>
                <h2 class="text-primary"><span data-plugin="counterup">3245</span> </h2>
                <!--<p class="text-muted m-0"><b>Last:</b> 20k</p>-->
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-2 col-md-4 col-sm-6">
        <div class="card-box widget-box-one">
            <div class="wigdet-one-content">
                <p class="m-0 text-uppercase font-600 font-secondary text-overflow">Kesalahan Kata</p>
                <h2 class="text-danger"><span data-plugin="counterup">78541</span> </h2>
                <!--<p class="text-muted m-0"><b>Last:</b> 50k</p>-->
            </div>
        </div>
    </div><!-- end col -->

</div>
<!-- end row -->



<div class="row">
    <div class="col-lg-4">
        <div class="card-box">

            <h4 class="header-title m-t-0">Perbandingan Kata Negatif & Positif</h4>

            <div class="widget-chart text-center">
                <div id="morris-donut-example"style="height: 160px;"></div>
                <ul class="list-inline chart-detail-list m-b-0">
                    <li>
                        <h5 class="text-success"><i class="fa fa-circle m-r-5"></i>Kata Positif</h5>
                    </li>
                    <li>
                        <h5 class="text-danger"><i class="fa fa-circle m-r-5"></i>Kata Negatif</h5>
                    </li>
                </ul>
            </div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-4">
        <div class="card-box">

            <h4 class="header-title m-t-0">Statistik Kata Negatif dan Positif <label class="label label-danger label-xs">2019</label></h4>
            <div id="morris-bar-example" style="height: 200px;"></div>
        </div>
    </div><!-- end col -->

    <div class="col-lg-4">
        <div class="card-box">

            <h4 class="header-title m-t-0">Perbandingan Tahun</h4>
            <div id="morris-line-example" style="height: 200px;"></div>
        </div>
    </div><!-- end col -->

</div>
<!-- end row -->

<!--Morris Chart-->
<script src="{{url_for('static', filename='plugins/morris/morris.min.js')}}"></script>
<script src="{{url_for('static', filename='plugins/raphael/raphael-min.js')}}"></script>

<!-- Dashboard init -->
<script src="{{url_for('static', filename='pages/jquery.dashboard.js')}}"></script>
